.main-bg {
    background-color: #F3F9F9;
}

.dom-bg {
    background-color:#C0E0DE;
}

.nav-text {
    color: #4db8c2;
    font-size: .75rem;
}

.footer-text {
    color: #4db8c2;
    font-size: 1rem;
}

.dom-tc {
    color: #4db8c2;
}

a:hover {
    color: grey;
}

.dropdown-menu a:hover {
    color:grey;
}


a:link {
    text-decoration: none;
}

.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Contact form */


label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

/* End Contact Form */


/* Cards */

.row.equal-height > [class*='col'] {
    display: flex;
}



/* Media Queries */

/* Carousel */

@media (max-width: 576px) {
    .carousel .carousel-indicators {
       display: none;
    }
}


/* Reviews Card-Columns */

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* End Review Card-Columns */




/* @media (max-width:576px) {
    .overlay {
        background-color: rgba(0, 0, 0, 0.40);
        border-radius: 2px;
        
    }
}  */




@media (min-width: 1200px){
    .container-fluid {
        max-width: 1140px;
    }
}
