.main-bg {
    background-color: #F3F9F9;
}

.dom-bg {
    background-color:#C0E0DE;
}

.dom-tc {
    color: #25695a;
}

a:hover {
    color: grey;
}


a:link {
    text-decoration: none;
}

/* Contact form */


label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

/* End Contact Form */


/* Cards */

.services-bg {
    background-color: white;
}

.row.equal-height > [class*='col'] {
    display: flex;
}

.img-responsive {
    width: auto;
    height: 50vh;
}



/* Iframe */

.post-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 20px;

height: 0;
overflow: hidden;
}



/* Media Queries */

@media (max-width:576px) {
    .overlay {
        background-color: rgba(0, 0, 0, 0.40);
        border-radius: 2px;
    }
}


@media (min-width: 1200px){
    .container-fluid {
        max-width: 1140px;
    }
}
